.loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .acc-type {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 7px;
    border-radius: 51px;
    background-color: #fff;
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
  }
  .acc-type > div {
    width: 50%;
  }
  .active-login {
    color: white;
    background: blue;
    padding: 5px 25px;
    border-radius: 51px;
  }
  .google-signup {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center border;
    font-weight: 600;
    font-size: 14px;
    border: 0.2px solid grey;
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
  }
  .g-logo {
    width: 10%;
  }
  .g-logo > img {
    width: 100%;
    border-radius: 50%;
  }
  .other-option {
    font-size: 14px;
    color: grey;
  }
  .other-option,
  .tc {
    text-align: center;
    text-decoration: none;
  }
  .tc > a {
    text-decoration: none;
  }
  .cbtn {
    width: 100%;
    margin: auto;
    padding: 2%;
    background: blue;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 30%);
    cursor: pointer;
  }
  .indicate {
    color: red;
    font-size: 12px;
    margin: 0;
  }
  .hide {
    display: none;
  }
  .inp-wrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
  }
  .inp {
    width: 96%;
    padding: 2%;
    border: 0.5px solid blue;
    border-radius: 5px;
  }
  .inp > input {
    border: 0;
    outline: 0;
    font-size: 16px;
    width: 100%;
  }
  